.jobs-container {
  padding: 10px;
  display: grid;
  grid-column-gap: 10px;
  grid-template-areas: "filter results results results";
}

.filter-container {
  grid-area: filter;
}

.results-container {
  grid-area: results;
}
