$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);
$grid-columns: 12;
$grid-gutter: 30px;

$spacer: 1rem;
$spacers: (
  0: 0,
  1: (
    $spacer * 0.25
  ),
  2: (
    $spacer * 0.5
  ),
  3: $spacer,
  4: (
    $spacer * 1.5
  ),
  5: (
    $spacer * 3
  )
);

$primary: #1aa6b7;
$secondary: #7b8c8c;
$light: #d9ecf2;
$dark: #002d40;
$white: white;
$black: black;

$colors: (
  primary: $primary,
  secondary: $secondary,
  light: $light,
  dark: $dark,
  white: $white,
  black: $black
);

$font-size-base: 1rem;
$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

$border-width: 1px;
$border-color: $dark;
$border-radius: 0.25rem;

$box-shadow-sm: 0 0.125rem 0.5rem rgba($black, 0.1);
$box-shadow: 0 0.5rem 1rem rgba($black, 0.15);
$box-shadow-lg: 0 1rem 3rem rgba($black, 0.175);

$box-shadows: (
  shadow-none: none,
  shadow-sm: $box-shadow-sm,
  shadow: $box-shadow,
  shadow-lg: $box-shadow-lg
);

$transition-base: all 0.2s ease-in-out;
$transition-fade: opacity 0.15s linear;
$transition-collapse: height 0.35s ease;
