.jb-transition-base {
  transition: $transition-base !important;
}
.jb-transition-fade {
  transition: $transition-fade !important;
}
.jb-transition-collapse {
  transition: $transition-collapse !important;
}
