.jb-shadow-sm {
  box-shadow: $box-shadow-sm !important;
}
.jb-shadow {
  box-shadow: $box-shadow !important;
}
.jb-shadow-lg {
  box-shadow: $box-shadow-lg !important;
}
.jb-shadow-none {
  box-shadow: none !important;
}
